body {
    margin: 0;
    background: #111;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.auth-container {
    background: #222;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}

.auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.auth-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    outline: none;
}

.auth-container button {
    width: 100%;
    padding: 12px;
    background: #ff9800;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.auth-container button:hover {
    opacity: 0.8;
}
.auth-container a {
    color: #4ea4ff;
}
